.container3{
    overflow-y: hidden;
}
.findlocation{
    background-color: rgb(204, 226, 161);
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.findlocation:hover{
    color: rgb(202, 159, 31);
}
@media only screen and (max-width: 389px) {
    .paynow{
        margin-top: 7px;
    }
}
.payment,.location{
    height: 140px;
    box-Shadow:4px 4px 5px rgb(179, 172, 172);
   align-items: center;
   background-color: rgb(241, 237, 237);
   margin: 6px;
}