.background{
    background-image: url(../images/CenturionBus2.jpg);
    /* height: 100%; */
    min-height: 100vh;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    
}
.background h2,em{
    overflow-y: hidden;
    font-weight: 700;
    background-color: black;
    color: white;

    
}

.form{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.img{
    width: 60px;
   
}
.Link{
    text-decoration: none;
    color: navy;
}
.Link:hover{
    color:rgb(202, 159, 31);
}
