/* Profile.css */
.profile {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 2px;
    height: 70vh; 
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(231, 230, 230);
  }
  
  .col.profileCol {
    text-align: center; 
  }
  

.col.profileCol div {
  margin: 10px;
}
.col.profileCol button {
  margin: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.col.profileCol button:hover,
.col.profileCol button:focus {
    color: rgb(202, 159, 31) 
}
  